<section
    class='relative table w-full py-20 lg:py-24 bg-gray-50 dark:bg-slate-800'
>
    <div class='container relative'>
        <div class='grid grid-cols-1 text-center mt-14'>
            <h3 class='text-3xl leading-normal font-semibold'>Shop Story</h3>
        </div><!--end grid-->

        <div class='relative text-center mt-3'>
            <ul class='tracking-[0.5px] mb-0 inline-block'>
                <li
                    class='inline-block uppercase text-[13px] font-bold duration-500 ease-in-out hover:text-indigo-600'
                ><a href='/'>Techwind</a></li>
                <li
                    class='inline-block text-base text-slate-950 dark:text-white mx-0.5 ltr:rotate-0 rtl:rotate-180'
                ><i class='uil uil-angle-right-b'></i></li>
                <li
                    class='inline-block uppercase text-[13px] font-bold text-indigo-600'
                    aria-current='page'
                >About us</li>
            </ul>
        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- End Hero -->

<!-- Start -->
<section class='relative md:py-24 py-16'>
    <div class='container'>
        <div class='md:flex justify-center'>
            <div class='lg:w-3/5 text-center'>
                <h5 class='text-2xl font-semibold'>Techwind Shop</h5>

                <p class='text-slate-400 mt-4'>Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim
                    id est laborum. Sed ut perspiciatis unde omnis iste natus
                    error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore
                    veritatis et quasi architecto beatae vitae dicta sunt
                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                    aspernatur aut odit aut fugit, sed quia consequuntur magni
                    dolores eos qui ratione voluptatem sequi nesciunt. Neque
                    porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                    consectetur, adipisci velit, sed quia non numquam eius modi
                    tempora incidunt ut labore et dolore magnam aliquam quaerat
                    voluptatem.</p>
            </div>
        </div>
    </div><!--end container-->

    <div class='container relative md:mt-24 mt-16'>
        <div class='grid grid-cols-1 pb-8 text-center'>
            <h3
                class='mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold'
            >Features</h3>

            <p class='text-slate-400 max-w-xl mx-auto'>Start working with
                Tailwind CSS that can provide everything you need to generate
                awareness, drive traffic, connect.</p>
        </div><!--end grid-->

        <div
            class='grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-4 gap-[30px]'
        >
            <!-- Content -->
            <div
                class='group relative lg:px-6 mt-4 duration-500 rounded-xl overflow-hidden text-center'
            >
                <div class='relative overflow-hidden text-transparent -m-3'>
                    <i
                        data-feather='hexagon'
                        class='size-28 fill-indigo-600/5 mx-auto rotate-[30deg]'
                    ></i>
                    <div
                        class='absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-indigo-600 rounded-xl duration-500 text-3xl flex align-middle justify-center items-center'
                    >
                        <i class='uil uil-rocket'></i>
                    </div>
                </div>

                <div class='mt-6'>
                    <a
                        href='#'
                        class='text-xl font-medium hover:text-indigo-600 duration-500 ease-in-out'
                    >Free Shipping</a>
                    <p class='text-slate-400 duration-500 mt-3'>If the
                        distribution of letters and 'words' is random, the
                        reader will not be distracted from making.</p>
                </div>
            </div>
            <!-- Content -->

            <!-- Content -->
            <div
                class='group relative lg:px-6 mt-4 duration-500 rounded-xl overflow-hidden text-center'
            >
                <div class='relative overflow-hidden text-transparent -m-3'>
                    <i
                        data-feather='hexagon'
                        class='size-28 fill-indigo-600/5 mx-auto rotate-[30deg]'
                    ></i>
                    <div
                        class='absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-indigo-600 rounded-xl duration-500 text-3xl flex align-middle justify-center items-center'
                    >
                        <i class='uil uil-user-arrows'></i>
                    </div>
                </div>

                <div class='mt-6'>
                    <a
                        href='#'
                        class='text-xl font-medium hover:text-indigo-600 duration-500 ease-in-out'
                    >24/7 Support</a>
                    <p class='text-slate-400 duration-500 mt-3'>If the
                        distribution of letters and 'words' is random, the
                        reader will not be distracted from making.</p>
                </div>
            </div>
            <!-- Content -->

            <!-- Content -->
            <div
                class='group relative lg:px-6 mt-4 duration-500 rounded-xl overflow-hidden text-center'
            >
                <div class='relative overflow-hidden text-transparent -m-3'>
                    <i
                        data-feather='hexagon'
                        class='size-28 fill-indigo-600/5 mx-auto rotate-[30deg]'
                    ></i>
                    <div
                        class='absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-indigo-600 rounded-xl duration-500 text-3xl flex align-middle justify-center items-center'
                    >
                        <i class='uil uil-transaction'></i>
                    </div>
                </div>

                <div class='mt-6'>
                    <a
                        href='#'
                        class='text-xl font-medium hover:text-indigo-600 duration-500 ease-in-out'
                    >Payment Process</a>
                    <p class='text-slate-400 duration-500 mt-3'>If the
                        distribution of letters and 'words' is random, the
                        reader will not be distracted from making.</p>
                </div>
            </div>
            <!-- Content -->
        </div><!--end grid-->
    </div><!--end container-->

    <div class='container relative md:mt-24 mt-16'>
        <div class='grid grid-cols-1 pb-8 text-center'>
            <h3
                class='mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold'
            >Our Professional Team</h3>

            <p class='text-slate-400 max-w-xl mx-auto'>Start working with
                Tailwind CSS that can provide everything you need to generate
                awareness, drive traffic, connect.</p>
        </div><!--end grid-->

        <div
            class='grid lg:grid-cols-6 md:grid-cols-12 grid-cols-1 items-center mt-8 gap-[30px]'
        >
            <div class='lg:col-span-3 md:col-span-6'>
                <div
                    class='team p-6 rounded-md shadow-md dark:shadow-gray-800 dark:border-gray-700 bg-white dark:bg-slate-900 relative'
                >
                    <div
                        class='absolute inset-0 bg-indigo-600/10 dark:bg-indigo-600/30 rounded-md -mt-[10px] -ms-[10px] size-[98%] -z-1'
                    ></div>
                    <img
                        src='/images/client/01.jpg'
                        class='size-24 rounded-full shadow-md dark:shadow-gray-800'
                        alt=''
                    />

                    <div class='content mt-4'>
                        <a
                            href='#'
                            class='text-lg font-medium hover:text-indigo-600 block'
                        >Nguyen Van Tai</a>
                        <span class='text-slate-400 block'>C.E.O.</span>

                        <p class='text-slate-400 mt-4'>If the distribution of
                            letters and 'words' is random</p>

                        <ul class='list-none mt-4'>
                            <li class='inline'><a
                                    href='#'
                                    class='size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 hover:text-white'
                                ><i
                                        data-feather='facebook'
                                        class='size-4'
                                    ></i></a></li>
                            <li class='inline'><a
                                    href='#'
                                    class='size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 hover:text-white'
                                ><i
                                        data-feather='instagram'
                                        class='size-4'
                                    ></i></a></li>
                            <li class='inline'><a
                                    href='#'
                                    class='size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 hover:text-white'
                                ><i
                                        data-feather='twitter'
                                        class='size-4'
                                    ></i></a></li>
                            <li class='inline'><a
                                    href='#'
                                    class='size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 hover:text-white'
                                ><i
                                        data-feather='linkedin'
                                        class='size-4'
                                    ></i></a></li>
                        </ul><!--end icon-->
                    </div>
                </div>
            </div>

            <div class='lg:col-span-3 md:col-span-6'>
                <div
                    class='team p-6 rounded-md shadow-md dark:shadow-gray-800 dark:border-gray-700 bg-white dark:bg-slate-900 relative'
                >
                    <div
                        class='absolute inset-0 bg-emerald-600/10 dark:bg-emerald-600/30 rounded-md -mt-[10px] -ms-[10px] size-[98%] -z-1'
                    ></div>
                    <img
                        src='/images/client/02.jpg'
                        class='size-24 rounded-full shadow-md dark:shadow-gray-800'
                        alt=''
                    />

                    <div class='content mt-4'>
                        <a
                            href='#'
                            class='text-lg font-medium hover:text-emerald-600 block'
                        >Luong Thi Dieu Thao</a>
                        <span class='text-slate-400 block'>Co-founder</span>

                        <p class='text-slate-400 mt-4'>If the distribution of
                            letters and 'words' is random</p>

                        <ul class='list-none mt-4'>
                            <li class='inline'><a
                                    href='#'
                                    class='size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md hover:border-emerald-600 hover:bg-emerald-600 hover:text-white'
                                ><i
                                        data-feather='facebook'
                                        class='size-4'
                                    ></i></a></li>
                            <li class='inline'><a
                                    href='#'
                                    class='size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md hover:border-emerald-600 hover:bg-emerald-600 hover:text-white'
                                ><i
                                        data-feather='instagram'
                                        class='size-4'
                                    ></i></a></li>
                            <li class='inline'><a
                                    href='#'
                                    class='size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md hover:border-emerald-600 hover:bg-emerald-600 hover:text-white'
                                ><i
                                        data-feather='twitter'
                                        class='size-4'
                                    ></i></a></li>
                            <li class='inline'><a
                                    href='#'
                                    class='size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md hover:border-emerald-600 hover:bg-emerald-600 hover:text-white'
                                ><i
                                        data-feather='linkedin'
                                        class='size-4'
                                    ></i></a></li>
                        </ul><!--end icon-->
                    </div>
                </div>
            </div>
        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- End -->